.form {
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0px 56px 138px rgba(0, 0, 0, 0.0168687),
      0px 23.3955px 57.6531px rgba(0, 0, 0, 0.0242336),
      0px 12.5083px 30.8241px rgba(0, 0, 0, 0.03),
      0px 7.01207px 17.2797px rgba(0, 0, 0, 0.0357664),
      0px 3.72406px 9.17714px rgba(0, 0, 0, 0.0431313),
      0px 1.54966px 3.81881px rgba(0, 0, 0, 0.06);
  }
  