$background: #f9f9ff;
$onBackground: #444444;
$onBackgroundSec: #5e5e5e;
$container: #f5f5ff;
$primary: #9797de;
$primaryLight: #e7e8fc;
$onPrimary: #ffffff;
$sleep: #c1c1ee;
$sleepVeriant: #d1d1ff;
$onPrimaryVeriantbody: #f3f3f3;
$primaryVariant: #c1c1f4;


